@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital@0;1&display=swap");
@import "reset.css";
@import "screen/variables.css";

/*components*/
@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "components/user-component.css";
@import "components/badge.css";
@import "components/icon-row.css";

/*screen*/
@import "screen/login.css";
@import "screen/friends.css";
@import "screen/find.css";
@import "screen/more.css";

body {
  font-family: "Noto Sans", sans-serif;
  height: 1000vh;
  color: #2e363e;
}
.main-screen {
  padding: 0px var(--horizental-space);
}

/*size*/
.size-small {
  width: 60px;
  height: 60px;
}
.size-medium {
  width: 70px;
  height: 70px;
}
.size-big {
  width: 80px;
  height: 80px;
}

.icon-size__30px {
  inline-size: 30px;
}
.icon-size__20px {
  inline-size: 20px;
}
