#friends-display-link {
  display: flex;
  text-align: center;
  justify-content: center;
  margin: 15px 0px;
  background-color: #fafafa;
  font-size: 18px;
  margin-top: -15px;
}

#friends-display-link > a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

#friends-display-link > svg {
  inline-size: 20px;
  margin-right: 5px;
  color: rgba(0, 0, 0, 0.3);
}
#friends-display-link svg:last-child {
  inline-size: 15px;
  margin-left: 5px;
}

.friends-screen {
  padding: 0px var(--horizental-space);
}
.friend-screen__channel-header > svg {
  inline-size: 20px;
}

.friend-screen__channel {
  margin-top: 25px;
  border-top: var(--main-border);
  padding-top: 10px;
}
.friend-screen__channel-header {
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  color: rgba(0, 0, 0, 0.5);
}

/*splash-screen*/
#splash-screen {
  background-color: var(--yellow);
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 11;
  animation: hidesplashscreen 0.4s ease-in-out forwards;
  animation-delay: 1s;
}

@keyframes hidesplashscreen {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}
#splash-screen > svg {
  width: 130px;
  height: 130px;
}
