#friends-display-link {
  display: flex;
  text-align: center;
  justify-content: center;
  margin: 15px 0px;
  background-color: #fafafa;
  font-size: 18px;
}

#friends-display-link > a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

#friends-display-link > svg {
  inline-size: 20px;
  margin-right: 5px;
  color: rgba(0, 0, 0, 0.3);
}
#friends-display-link svg:last-child {
  inline-size: 15px;
  margin-left: 5px;
}

.friends-screen {
  padding: 0px var(--horizental-space);
}
.friend-screen__channel-header > svg {
  inline-size: 20px;
}

.friend-screen__channel {
  margin-top: 25px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  padding-top: 10px;
}
.friend-screen__channel-header {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  color: rgba(0, 0, 0, 0.5);
}
