.nav {
  background-color: #f9f9fa;
  padding: 20px 50px;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  position: fixed;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-evenly;
  z-index: 8;
}
.nav__list {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.nav__button {
  position: relative;
}

.nav__link {
  position: relative;
}

.nav__link > svg {
  inline-size: 40%;
  color: #2e363e;
}

@keyframes notification-animation {
  0% {
    transform: none;
  }
  50% {
    transform: translateY(-10px) rotateY(180deg);
  }
  100% {
    transform: none;
  }
}
.nav__notification {
  position: absolute;
  right: 20px;
  top: 0px;
  animation: notification-animation 1s ease-in-out;
  animation-delay: 0.6s;
}
.nav__notification-option {
  position: absolute;
  top: 5px;
  right: -5px;
}
@keyframes nav__button-appear {
  from {
  }
  to {
    transform: none;
    opacity: 1;
  }
}

.nav__button {
  transform: translateY(10vh);
  opacity: 0;
  animation: nav__button-appear 0.4s ease-in-out forwards;
}
.nav__button:nth-child(2) {
  animation-delay: 0.2s;
}
.nav__button:nth-child(3) {
  animation-delay: 0.3s;
}
.nav__button:nth-child(4) {
  animation-delay: 0.4s;
}
